@model UserGetisterAndLoginTable
<link rel="stylesheet" href="~/css/Login.css" />
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <h2 class="active"> sign in </h2>

    <h2 class="nonactive"> sign up </h2>
    <form asp-controller="Home" asp-action="Login">
        <input type="text" class="text" asp-for="Name">
        <span>username</span>

        <br>
        <br>
        <input type="password" class="text" asp-for="Password">
        <span>password</span>
        <br>

        @if (ViewBag.Error != null)
        {
            <h3 style="color:White">@ViewBag.Error</h3>
        }

        <button class="signin">
            Sign In
        </button>


        <hr>

        <a href="#" style="color:white">Forgot Password?</a>
    </form>

</div>